.main-background {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card-container {
  align-self: center;
  width: 35%;
  background-color: #d6d6d6;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
}
.counter-card {
  background-color: #f1c232;
  height: 250px;
  width: 250px;
  align-self: center;
  border-radius: 125px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.counter-card1 {
  background-color: #ff7f50;
  height: 250px;
  width: 250px;
  align-self: center;
  border-radius: 125px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.color-change-button {
  width: 15%;
  align-self: center;
  margin-top: 35px;
  background-color: #b1daff;
  height: 35px;
  border-width: 0px;
  border-radius: 6px;
}
.increase-button {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  height: 35px;
}
